In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../config/chembl_processed/activities_preprocessed.csv", low_memory=False)

In [3]:
df

,activity_id,assay_id,assay_chembl_id,assay_type,assay_confidence_score,assay_organism,doc_chembl_id,tid,target_type,target_organism,...,MW,pchembl,bao_endpoint,activity_comment,standard_text,value,unit,activity_type,relation,pchembl_calculated
0,31863,54505,CHEMBL663853,B,8,NaN,CHEMBL1137930,63,SINGLE PROTEIN,Homo sapiens,...,312.328,NaN,BAO_0000190,0,0,100.000,umol.L-1,IC50,>,4.000000
1,31864,83907,CHEMBL872937,B,8,NaN,CHEMBL1146658,11653,SINGLE PROTEIN,Homo sapiens,...,398.374,5.60,BAO_0000190,0,0,2.500,umol.L-1,IC50,=,5.602060
2,31865,88152,CHEMBL693237,F,1,Homo sapiens,CHEMBL1146658,22221,NON-MOLECULAR,NaN,...,398.374,NaN,BAO_0000190,0,0,50.000,umol.L-1,IC50,>,4.301030
3,31866,83907,CHEMBL872937,B,8,NaN,CHEMBL1146658,11653,SINGLE PROTEIN,Homo sapiens,...,520.497,5.05,BAO_0000190,0,0,9.000,umol.L-1,IC50,=,5.045757
4,31867,88153,CHEMBL693238,F,1,Homo sapiens,CHEMBL1146658,22221,NON-MOLECULAR,NaN,...,520.497,NaN,BAO_0000190,0,0,NaN,umol.L-1,IC50,=,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24040982,29054631,2596842,CHEMBL5739541,B,9,Homo sapiens,CHEMBL5729811,19639,SINGLE PROTEIN,Homo sapiens,...,436.468,NaN,BAO_0000480,0,0,NaN,NaN,KON,=,NaN
24040983,29054632,2596842,CHEMBL5739541,B,9,Homo sapiens,CHEMBL5729811,19639,SINGLE PROTEIN,Homo sapiens,...,436.468,NaN,BAO_0000179,0,0,NaN,s-1,KOFF,=,NaN
24040984,29054633,2596842,CHEMBL5739541,B,9,Homo sapiens,CHEMBL5729811,19639,SINGLE PROTEIN,Homo sapiens,...,435.484,6.30,BAO_0000190,0,0,0.503,umol.L-1,IC50,=,6.298432
24040985,29054634,2596842,CHEMBL5739541,B,9,Homo sapiens,CHEMBL5729811,19639,SINGLE PROTEIN,Homo sapiens,...,435.484,NaN,BAO_0000480,0,0,NaN,NaN,KON,=,NaN
24040986,29054635,2596842,CHEMBL5739541,B,9,Homo sapiens,CHEMBL5729811,19639,SINGLE PROTEIN,Homo sapiens,...,435.484,NaN,BAO_0000179,0,0,NaN,s-1,KOFF,=,NaN

In [4]:
df[df['assay_chembl_id'] == "CHEMBL1614289"]

,activity_id,assay_id,assay_chembl_id,assay_type,assay_confidence_score,assay_organism,doc_chembl_id,tid,target_type,target_organism,...,MW,pchembl,bao_endpoint,activity_comment,standard_text,value,unit,activity_type,relation,pchembl_calculated
3439141,3894999,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,354.383,5.96,BAO_0000190,1,0,1.10,umol.L-1,IC50,=,5.958607
3439143,3895000,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,464.541,4.72,BAO_0000190,1,0,19.14,umol.L-1,IC50,=,4.718058
3439144,3895001,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,293.128,5.97,BAO_0000190,1,0,1.08,umol.L-1,IC50,=,5.966576
3439145,3895002,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,302.462,NaN,BAO_0000190,1,0,0.20,umol.L-1,IC50,<,6.698970
3439146,3895003,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,436.514,4.08,BAO_0000190,1,0,83.25,umol.L-1,IC50,=,4.079616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449027,3910570,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,318.401,4.37,BAO_0000190,1,0,42.91,umol.L-1,IC50,=,4.367441
3449028,3910571,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,519.711,4.10,BAO_0000190,1,0,79.77,umol.L-1,IC50,=,4.098160
3449029,3910572,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,598.092,6.04,BAO_0000190,1,0,0.92,umol.L-1,IC50,=,6.036212
3449030,3910573,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,358.218,5.00,BAO_0000190,1,0,10.11,umol.L-1,IC50,=,4.995249
3449031,3910574,688697,CHEMBL1614289,F,0,NaN,CHEMBL1201862,22226,UNCHECKED,NaN,...,326.252,4.47,BAO_0000190,1,0,33.83,umol.L-1,IC50,=,4.470698